
// 其他設定
a{
    display: inline-block;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

//ol,ul reset

ol,ul{
    list-style: none;
    padding: 0;
}
ol,ul,dl{
    margin: 0;
}


//spacer
/*
  1: 4px
  2: 8px
  3: 16px
  4: 20px
  5: 24px
  6: 28px
  7: 30px
  8: 32px
  9: 36px
  10: 40px
  11: 56px
  12: 60px
  13: 72px
  14: 80px
  15: 84px
  16: 88px
  17: 96px
  18: 100px
  19: 104px
  20: 136px
  21: 144px
  22: 152px
  23: 156px
  24: 162px
  25: 296px

*/

.blueShadow {
    box-shadow: 0px 0px 108px 0px rgba(0,102,255,0.55);
    &:hover {
        box-shadow: 0px 0px 64px 0px rgba(0,102,255,0.80);
    }
}

.greenShadow {
    box-shadow: 0px 4px 108px 0px rgba(0,255,255,0.35);
    &:hover {
        box-shadow: 0px 4px 64px 0px rgba(0,255,255,0.60);
    }
}

.outLine {
    width: 352px;
    height: 53px;
    position: absolute;
    left: -8px;
    top: -8px;
    outline: 2px solid $white;
    border-radius: 2px;
}


// .lightGreenRadialGradientBg {
//     @include radial-gradient($green, $white);
// }

// .lightBlueRadialGradientBg {
//     @include radial-gradient($blue, $white);
// }
