
// 其他設定
a{
    display: inline-block;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

//ol,ul reset

ol,ul{
    list-style: none;
    padding: 0;
}
ol,ul,dl{
    margin: 0;
}


//spacer
/*
  1:   4px
  2:   8px
  3:   12px
  4:   16px
  5:   20px
  6:   24px
  7:   28px
  8:   32px
  9:   36px
  10:  40px
  12:  48px
  14:  56px
  15:  60px
  18:  72px
  20:  80px
  21:  84px
  22:  88px
  24:  96px
  25:  100px
  26:  104px
  34:  136px
  36:  144px
  38:  152px
  39:  156px
  74:  296px

  30:  30px
  162: 162px
  150: 150px
  300: 300px
*/

.blueShadow {
    box-shadow: 0px 0px 108px 0px rgba(0,102,255,0.55);
    &:hover {
        box-shadow: 0px 0px 64px 0px rgba(0,102,255,0.80);
    }
}

.greenShadow {
    box-shadow: 0px 4px 108px 0px rgba(0,255,255,0.35);
    &:hover {
        box-shadow: 0px 4px 64px 0px rgba(0,255,255,0.60);
    }
}

.glow-circle {
    width: 1282px;
    height: 1282px;
    background-color: #0066FF;
    border-radius: 50%;
    backdrop-filter: blur(10px);
  }

// .lightGreenRadialGradientBg {
//     @include radial-gradient($green, $white);
// }

// .lightBlueRadialGradientBg {
//     @include radial-gradient($blue, $white);
// }

//button

@mixin flex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

//第一個button模板

@mixin btn($width,$height,$innerWidth,$innerHeight){
    width: $width;
    height: $height;
    border: 2px solid $white;
    border-radius: 2px;
    background: none;
    p{
        width: $innerWidth;
        height: $innerHeight;
        background: $white;
        @include flex(row,center,center);
        border-radius: 2px;
        font-weight: bold;
    }
    &:hover{
        border: 2px solid $primary;
        p{
            background: $primary;
        }
    }
    &:active{
        border: 2px solid $secondary;
        p{
            background: $white;
            box-shadow: 0px 0px 40px rgba(0, 209, 255, 0.45);
        }
    }
}

.submitBtn:hover{
    background-color: $secondary !important;
}

.arrowBtn:hover{
    color: $primary !important;
}

//首頁背景光
.BG-Light-green{
    width: 1282px;
    height: 1282px;
    flex-shrink: 0;
    border-radius: 1282px;
    background: rgba(0,255,255,1);
    filter: blur(400px);
    position: absolute;
    top: 3369px;
    left: -829px;
  }


  //卡片圖像

  @mixin itemCard{
    position: relative;
    &-playerImg{
      width: 266px;
      height: 60px;
      background: url(../images/img-wait.png) no-repeat center center;
      background-size: cover;
      -webkit-mask: url(../images/mask.png) no-repeat center center;
      mask: url(../images/mask.png) no-repeat center center;
      // -webkit-mask-size: contain;
      // mask-size: contain;
      &::before{
        position: absolute;
        content: '';
        background: url(../images/mask-line.png) no-repeat center center;
        width: 266px;
        height: 60px;
      }
    }
    &-rankingImg{
      position: absolute;
      left: 254px;
      width: 82px;
      height: 60px;
      background: url(../images/img-ranking-bg.png) no-repeat center center;
      background-size: cover;
      -webkit-mask: url(../images/mask-ranking.png) no-repeat center center;
      mask: url(../images/mask-ranking.png) no-repeat center center;
      &::before{
        position: absolute;
        content: '';
        background: url(../images/mask-ranking-line.png) no-repeat center center;
        width: 82px;
        height: 60px;
      }
    } 
  }
