$primary:       #D6EEFF;
$secondary:     #819EB2;
$white:         #fff;
$dark:          #060818;
$green:         #00FFFF;
$blue:          #0066FF;
$secondary2:    #93B4CC;

// $dark-1:        tint-color($dark, 90%) !default;
// $dark-2:        tint-color($dark, 80%) !default;
// $dark-3:        tint-color($dark, 70%) !default;
// $dark-4:        tint-color($dark, 60%) !default;
// $dark-5:        tint-color($dark, 50%) !default;
// $dark-6:        tint-color($dark, 40%) !default;
// $dark-7:        tint-color($dark, 30%) !default;
// $dark-8:        tint-color($dark, 20%) !default;
// $dark-9:        tint-color($dark, 10%) !default;

// $secondary2-1:   tint-color($secondary2, 10%) !default;
// $secondary2-2:   tint-color($secondary2, 20%) !default;
// $secondary2-3:   tint-color($secondary2, 30%) !default;
// $secondary2-4:   tint-color($secondary2, 40%) !default;
// $secondary2-5:   tint-color($secondary2, 50%) !default;
// $secondary2-6:   tint-color($secondary2, 60%) !default;
// $secondary2-7:   tint-color($secondary2, 70%) !default;
// $secondary2-8:   tint-color($secondary2, 80%) !default;
// $secondary2-9:   tint-color($secondary2, 90%) !default;

// $white-1:        shade-color($white, 90%) !default;
// $white-2:        shade-color($white, 80%) !default;
// $white-3:        shade-color($white, 70%) !default;
// $white-4:        shade-color($white, 60%) !default;
// $white-5:        shade-color($white, 50%) !default;
// $white-6:        shade-color($white, 40%) !default;
// $white-7:        shade-color($white, 30%) !default;
// $white-8:        shade-color($white, 20%) !default;
// $white-9:        shade-color($white, 10%) !default;

// $dark-1:        tint-color($dark, 10%) !default;
// $dark-2:        tint-color($dark, 20%) !default;
// $dark-3:        tint-color($dark, 30%) !default;
// $dark-4:        tint-color($dark, 40%) !default;
// $dark-5:        tint-color($dark, 50%) !default;
// $dark-6:        tint-color($dark, 60%) !default;
// $dark-7:        tint-color($dark, 70%) !default;
// $dark-8:        shade-color($dark, 80%) !default;
// $dark-9:        tint-color($dark, 90%) !default;