$primary:       #D6EEFF;
$secondary:     #819EB2;
$white:         #fff;
$dark:          #060818;
$green:         #00FFFF;
$blue:          #0066FF;

$secondary2-1:    rgba(147, 180, 204, .1);
$secondary2-2:   rgba(147, 180, 204, .2);
$secondary2-3:   rgba(147, 180, 204, .3);
$secondary2-4:   rgba(147, 180, 204, .4);
$secondary2-5:   rgba(147, 180, 204, .5);
$secondary2-6:   rgba(147, 180, 204, .6);
$secondary2-7:   rgba(147, 180, 204, .7);
$secondary2-8:   rgba(147, 180, 204, .8);
$secondary2-9:   rgba(147, 180, 204, .9);

$white-1:        rgba(255, 255, 255, .1);
$white-2:        rgba(255, 255, 255, .2);
$white-3:        rgba(255, 255, 255, .3);
$white-4:        rgba(255, 255, 255, .4);
$white-5:        rgba(255, 255, 255, .5);
$white-6:        rgba(255, 255, 255, .6);
$white-7:        rgba(255, 255, 255, .7);
$white-8:        rgba(255, 255, 255, .8);
$white-9:        rgba(255, 255, 255, .9);

$dark-1:        rgba(6, 8, 24, .1);
$dark-2:        rgba(6, 8, 24, .2);
$dark-3:        rgba(6, 8, 24, .3);
$dark-4:        rgba(6, 8, 24, .4);
$dark-5:        rgba(6, 8, 24, .5);
$dark-6:        rgba(6, 8, 24, .6);
$dark-7:        rgba(6, 8, 24, .7);
$dark-8:        rgba(6, 8, 24, .8);
$dark-9:        rgba(6, 8, 24, .9);