@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,900;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,900&display=swap');

*{
    font-family: 'Noto Sans TC','Roboto Serif', serif;
}

/*
fs-1: 56px
fs-2: 48px
fs-3: 28px
fs-4: 24px
fs-5: 20px
fs-6: 16px
fs-7: 18px
fs-8: 14px
fs-9: 12px
*/