@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,900;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,900&display=swap');

*{
    font-family: 'Noto Sans TC','Roboto Serif', serif;
}

$h1-font-size:                $font-size-base * 3.5; //56px
$h2-font-size:                $font-size-base * 3; //48px
$h3-font-size:                $font-size-base * 1.75; //28px
$h4-font-size:                $font-size-base * 1.5; //24px
$h5-font-size:                $font-size-base * 1.25; //20px
$h6-font-size:                $font-size-base; //16px