// Utilities

$utilities: () !default;

$utilities: map-merge(
  (
    "height": (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "font-size": (
      rfs: true,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "font-weight": (
      responsive: true,
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        normal: $font-weight-normal,
        // medium: $font-weight-medium,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder
      )
    ),
    "border": (
      responsive: true,
      property: border,
      values: (
        null: $border-width solid $border-color,
        0: 0,
      )
    ),
    "border-top": (
      responsive: true,
      property: border-top,
      values: (
        null: $border-width solid $border-color,
        0: 0,
      )
    ),
    "border-end": (
      responsive: true,
      property: border-right,
      class: border-end,
      values: (
        null: $border-width solid $white,
        0: 0,
      )
    ),
    "border-bottom": (
      responsive: true,
      property: border-bottom,
      values: (
        null: $border-width solid $border-color,
        0: 0,
      )
    ),
    "border-start": (
      responsive: true,
      property: border-left,
      class: border-start,
      values: (
        null: $border-width solid $border-color,
        0: 0,
      )
    ),
    "border-color": (
      responsive: true,
      property: border-color,
      class: border,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "border-width": (
      responsive: true,
      property: border-width,
      class: border,
      values: $border-widths
    ),
    "opacity": (
      property: opacity,
      values: (
        10:  .1,
        20:  .2,
        30:  .3,
        40:  .4,
        50:  .5,
        60:  .6,
        70:  .7,
        80:  .8,
        90:  .9
      )
    ),
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        10: .1,
        20: .2,
        30: .3,
        40: .4,
        50: .5,
        60: .6,
        70: .7,
        80: .8,
        90: .9,
      )
    ),
    "text-opacity": (
      css-var: true,
      class: text-opacity,
      values: (
        10: .1,
        20: .2,
        30: .3,
        40: .4,
        50: .5,
        60: .6,
        70: .7,
        80: .8,
        90: .9,
      )
    ),
  ),
  $utilities
);