<!-- 忘記密碼 forgetPasswordModal -->
<div
  class="modal fade"
  id="forgetPasswordModal"
  tabindex="-1"
  aria-labelledby="forgetPasswordModal"
  aria-hidden="true"
  data-backdrop="false"
>
  <div class="modal-dialog modal-dialog-centered modal-lg py-18">
    <div class="modal-content border-radius bg-dark px-25 py-12 blueShadow">
      <div>
        <h3 class="modal-title fs-4 fs-md-3 fw-md-bold fw-bold text-center">
          忘記密碼
        </h3>
      </div>
      <div class="modal-body d-flex flex-column px-4 pt-8">
        <form class="mb-12">
          <div>
            <label for="userEmail" class="form-label fs-5 fw-medium mb-2"
              >電子信箱</label
            >
            <input
              type="email"
              class="form-control p-3"
              id="userEmail-forget"
              aria-describedby="emailHelp"
              placeholder="請輸入帳號電子信箱"
            />
          </div>
        </form>
        <div class="submitGroup text-center align-items-center">
          <!--reset password-btn -->
          <a href="index.html">
            <button
              type="submit"
              class="submitBtn bg-secondary2 bg-opacity-60 border border-0 border-radius py-4 px-12 fw-medium text-white"
            >
              重設密碼
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
