<header>
  <div class="position-fixed w-100 z-index bg-dark opacity-80 px-lg-26 py-lg-2">
    <div class="d-flex align-items-center justify-content-lg-between">
      <a class="logo" href="./index.html"><h1>LOL組隊大師</h1></a>
      <nav>
        <ul class="d-flex align-items-center justify-content-lg-between gap-10">
          <li>
            <a href="./teamList.html" class="text-secondary2-4"
              ><i class="fa-solid fa-list me-2"></i>隊伍列表</a
            >
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-hat-wizard me-2"></i>玩家列表</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-flag me-2"></i>建立隊伍</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-users me-2"></i>我的隊伍</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-bell"></i></a>
          </li>
          <li><a href="#">登入 | 註冊</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
