<header>
  <div class="position-fixed w-100 z-index bg-dark8">
    <div class="container d-flex align-items-center justify-content-lg-between">
      <a href="./pages/index.html">
        <h1>LOL組隊大師</h1>
      </a>
      <nav>
        <ul class="d-flex align-items-center justify-content-lg-between">
          <li>
            <a href="#"><i class="fa-solid fa-list"></i>隊伍列表</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-hat-wizard"></i>玩家列表</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-flag"></i>建立隊伍</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-users"></i>我的隊伍</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-bell"></i></a>
          </li>
          <li><a href="#">登入 | 註冊</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
