<div class="memberCard border border-primary " style="  border-radius: 2px; width: 18%;">
    <div class="meber-card-top ">
        <div class="member-avatar position-relative">
            <img src="../assets/images/Member-avatar.png" alt="" class="member-avatar-style "
                style="width: 306px;height:306px ;">
            <div class="member-avatar-style position-absolute bottom-0"></div>

            <div class="metal position-absolute" style="width: 85px; height: 65px;">
                <div class="parallelogram">
                    <div class="parallelogram-content-avatar" style="
background-image: url(../assets/images/image19.png);
background-size: cover;
background-position: center;
width: 85px;
height: 60px;
"></div>
                </div>

            </div>
        </div>

    </div>



    <h4 class="mt-12 text-center mb-4">無言獨上西樓</h4>
    <div class="tag-group d-flex justify-content-center g-8">
        <div class="tag bage bage-text">TOP</div>
        <div class="tag bage bage-text">JG</div>
        <div class="tag bage bage-text">MID</div>
        <div class="tag bage bage-text">ADC</div>
        <div class="tag bage bage-text">SUP</div>
    </div>
    <div class="thumb my-6 ">
        <p class="thum-text text-center">
            12345 <span><i class="fa-regular fa-thumbs-up"></i></span>
        </p>


    </div>
    <button class="btn-getout text-primary" style="width: 75%;">剔除

    </button>
</div>