<ul class="layout-left-ul p-0 mt-40 position-relative">
    <li class="mb-12"> 
      <a href="#" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">我的資料</a></li>
    <li class="mb-12">
      <a href="#tea-calendar" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">評價資訊</a></li>
    <li class="mb-12">
      <a href="#find-store" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">好友名單</a></li>
    <li class="mb-12">
      <a href="#comment" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">歷史組隊紀錄</a></li>
</ul>