<header>
    <div class="fixed-top w-100 bg-dark bg-opacity-80 px-lg-26 py-lg-2">
      <div class="d-flex align-items-center justify-content-lg-between">
        <a class="logo" href="index.html">
          <h1>LOL組隊大師</h1>
        </a>
        <nav>
          <ul class="d-flex align-items-center justify-content-lg-between gap-10">
            <li>
              <a href="teamList.html" class="text-secondary2-4"><i class="fa-solid fa-list me-2"></i>隊伍列表</a>
            </li>
            <!-- 登入 -->
            <li class="btnLogin">
              <a href="#loginModal" class="login" data-bs-toggle="modal">登入 | 註冊</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- 登入 loginＭodal -->
  <%- include('./layout/loginModal'); -%>

  <!-- 註冊 registerModal -->
  <%- include('./layout/registerModal'); -%>

  <!-- 忘記密碼 forgetPasswordModal -->
  <%- include('./layout/forgetPasswordModal'); -%>