<div class="navMenu layout-left ps-7 d-none d-xxl-block">  
  <ul class="sidebar-menu">
      <li> 
        <a href="#myInfo" class="d-block py-4 px-4"><i class="fa-solid fa-user align-middle me-2"></i>我的資料</a>
      </li>
      <li>
        <a href="#myEvaluate" class="d-block py-4 px-4"><i class="fa-solid fa-thumbs-up align-middle me-2"></i>評價資訊</a>
      </li>
      <li>
        <a href="#myfriendList" class="d-block py-4 px-4"><i class="fa-solid fa-handshake align-middle me-2"></i>好友名單</a>
      </li>
      <li>
        <a href="#myblackList" class="d-block py-4 px-4"><i class="fa-solid fa-ban align-middle me-2"></i>黑名單</a>
      </li>
      <li>
        <a href="historicalTeamRecords.html" class="d-block py-4 px-4"><i class="fa-solid fa-people-group align-middle me-2"></i
          >歷史組隊紀錄</a>
      </li>
  </ul>
</div>  