<div class="navMenu min-vh-100">  
  <ul class="pt-38 ps-21 position-relative">
      <li class="mb-12"> 
        <a href="#" class="d-flex align-items-center"><i class="fa-solid fa-user me-2"></i>我的資料</a></li>
      <li class="mb-12">
        <a href="#" class="d-flex align-items-center"><i class="fa-solid fa-thumbs-up me-2"></i>評價資訊</a></li>
      <li class="mb-12">
        <a href="#" class="d-flex align-items-center"><i class="fa-solid fa-handshake me-2"></i>好友名單</a></li>
      <li class="mb-12">
        <a href="historicalTeamRecords.html" class="d-flex align-items-center"><i class="fa-solid fa-people-group me-2"></i
          >歷史組隊紀錄</a></li>
  </ul>
</div>  