<div class="playerCard d-flex flex-column align-items-center">
    <img src="../assets//images/Member-avatar.png">
    <div class="playerCard-rankingImg">
        <img src="../assets/images/img-ranking-02.png" alt="">
    </div>
    <h4 class="text-primary mt-12">無言獨上西樓</h4>
    <div class="tagGroup">
      <h6 class="show">TOP</h6>
      <h6 class="show">JG</h6>
      <h6 class="show">MID</h6>
      <h6 class="show">AD</h6>
      <h6 class="invalid">SUP</h6>
    </div>
    <div class="d-flex align-items-center mt-6 mb-6">
      <p class="me-1 fs-8 text-secondary">3526</p>
      <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3018_8928)">
        <path d="M3.375 11C3.97266 11 4.5 11.5273 4.5 12.125V19.9297C4.5 20.5273 3.97266 21.0195 3.375 21.0195H1.125C0.492188 21.0195 0 20.5273 0 19.9297V12.0898C0 11.4922 0.492188 11 1.125 11H3.375ZM18 12.2305C18 13.0742 17.543 13.7773 16.9102 14.1992C16.9453 14.4102 16.9805 14.5859 16.9805 14.7617C16.9805 15.5703 16.5586 16.2734 15.9609 16.6953C15.9609 16.8008 15.9609 16.9062 15.9609 17.0117C15.9609 17.8203 15.5742 18.5234 14.9414 18.9453C14.8711 20.1758 13.8516 21.125 12.6211 21.125H10.7578C9.49219 21.125 8.26172 20.7383 7.24219 19.9648L5.94141 19.0156C5.73047 18.8398 5.58984 18.5938 5.58984 18.3125C5.58984 17.8906 5.97656 17.4688 6.46875 17.4688C6.64453 17.4688 6.82031 17.5391 6.96094 17.6445L8.26172 18.6289C8.96484 19.1562 9.84375 19.4727 10.7578 19.4727H12.6211C12.9727 19.4727 13.2891 19.1562 13.2891 18.8047C13.2891 18.6641 13.2188 18.6289 13.2188 18.4531C13.2188 17.5039 14.2734 17.8203 14.2734 17.0117C14.2734 16.6953 14.0625 16.625 14.0625 16.2383C14.0625 15.1836 15.293 15.6406 15.293 14.7617C15.293 14.3047 14.8711 14.3047 14.8711 13.7422C14.8711 13.3203 15.2227 12.9336 15.6797 12.8984C16.0312 12.8984 16.3125 12.582 16.3125 12.2305C16.3125 11.8789 15.9961 11.5977 15.6094 11.5625H10.793C10.3359 11.5625 9.94922 11.2461 9.94922 10.7539C9.94922 10.6133 9.98438 10.4727 10.0547 10.332C10.6875 9.20703 10.9688 8.08203 10.9688 7.80078C10.9688 7.51953 10.7578 7.09766 10.1602 7.09766C9 7.09766 9.66797 9.24219 6.96094 11.3867C6.82031 11.5273 6.64453 11.5625 6.46875 11.5625C5.97656 11.5625 5.625 11.1758 5.625 10.7188C5.625 9.76953 6.60938 10.2969 7.73438 7.44922C8.08594 6.53516 8.54297 5.41016 10.1602 5.41016C11.707 5.41016 12.6562 6.60547 12.6562 7.80078C12.6562 8.25781 12.4453 9.03125 12.1289 9.91016H15.6445C16.9102 9.91016 18 10.9648 18 12.2305Z" fill="#819EB3"/>
        </g>
        <defs>
        <clipPath id="clip0_3018_8928">
        <rect width="18" height="27" fill="white"/>
        </clipPath>
        </defs>
      </svg>           
    </div>
    <button type="button">
      <p>發送隊伍邀請</p>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3016_8864)">
        <path d="M19.4531 0.734375C19.8438 1.00781 20.0391 1.47656 19.9219 1.98438L17.4219 18.1953C17.3828 18.5859 17.1484 18.9375 16.7969 19.0938C16.6797 19.1719 16.4453 19.25 16.2109 19.25C16.0547 19.25 15.8984 19.25 15.7031 19.1719L11.0156 17.2188L7.65625 20.4219C7.61719 20.5 7.53906 20.5 7.46094 20.5C7.38281 20.5 7.26562 20.4609 7.1875 20.3047L4.76562 14.5625L0.742188 12.8828C0.3125 12.6875 0 12.2578 0 11.8281C-0.0390625 11.3594 0.195312 10.9297 0.625 10.6562L18.125 0.695312C18.3203 0.578125 18.5156 0.5 18.75 0.5C18.9844 0.5 19.2188 0.578125 19.4531 0.734375ZM1.25 11.75L4.80469 13.2734L16.0938 3.27344L1.25 11.75ZM7.8125 18.5859L9.84375 16.6328L8.51562 16.0859C8.32031 16.0469 8.20312 15.8906 8.125 15.6953C8.08594 15.5 8.125 15.3047 8.24219 15.1484L14.8438 6.04688L5.89844 13.9766L7.8125 18.5859ZM16.25 17.8438L18.5156 3.11719L9.72656 15.2266L16.25 17.8438Z" fill=""/>
        </g>
        <defs>
        <clipPath id="clip0_3016_8864">
        <rect width="20" height="20" fill=""/>
        </clipPath>
        </defs>
      </svg>             
    </button>
</div>
