<div class="playerCard">
    <img src="../assets//images/Member-avatar.png">
    <div class="playerCard-rankingImg">
        <img src="../assets/images/img-ranking-02.png" alt="">
    </div>
    <h4 class="text-primary mt-12 text-center">無言獨上西樓</h4>
    <button type="button">
      <p>立即加入</p>
    </button>
</div>
