<% const rankMap1={ Iron: "鐵" , Bronze: "銅" , Silver: "銀" , Gold: "金" , Platinum: "白金" , Emerald: "翡翠" , Diamond: "鑽石" ,
    Master: "大師" , Grandmaster: "宗師" , Challenger: "菁英" }; %>

    <% for (const v in rankMap1) { %>
        <div class="tag bage bage-text">
            <%= rankMap1[v] %>
        </div>
        <% console.log(v)} %>