@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import './utils/color';
@import './utils/font';
@import './utils/maps'; //引入 maps
@import './utils/utilities';

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
  )
);

@import "../../node_modules/bootstrap";
@import "../../node_modules/bootstrap/scss/utilities/api";


@import './mixins/breakpoints';
@import './utils/base';
@import './utils/pagination';


@import './layout/header.scss';
@import './layout/navMenu';
@import './layout/dropdownTimeSearch';
@import './layout/footer.scss';


@import './pages/index';
@import './pages/alreadyJoinedTeam';
@import './pages/buildTeam';
@import './pages/editMemberProfile';
@import './pages/historicalTeamRecords';
@import './pages/memberCentre';
@import './pages/myTeamList';
@import './pages/playerList';
@import './pages/teamCreated';
@import './pages/teamDetails';
@import './pages/teamList';
