.logo {
  background-image: url(../images/logo-blue.png);
  background-position: center;
  background-size: cover;
  width: 143px;
  height: 56px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.headerAvatar {
  width: 40px;
  height: 40px;
}

// .z-index {
//   z-index: 1200;
// }

