.sideBar {
    position: fixed;
    min-width: 300px;
    min-height: 100vh;
    background-color: $dark;

    .sideBarContent {
        li:hover {
		// background-color: hsla(205, 36%, 69%, 0.1);
            background-color: rgb($secondary2,0.1);
        .active {
            background-color: rgb($secondary2,0.3);
        }
	  }
        
    }
}