.index-title {
  font-size: 100px;
  // background-color: $secondary2-6;
  // color: $dark-4;
}

.banner {
  background: url(../images/BG-Hero.png) center/ cover;
  max-width: 100%;
  height: 1322px;
  text-align: center;
  &-text{
    background: url(../images/banner-text.png) center/ cover;
    width: 926px;
    height: 154px;
    position: absolute;
    top: 234px;
  }
  button{
    @include btn(253px,53px,237px,37px);
    margin-top: 169px;
  }
}
.line{
  background: url(../images/image-line.png) center/ cover;
  width: 649px;
  height: 113px;
  margin-left: auto;
}

.step{
  text-align: center;
  margin-bottom: 144px;
  &-bg{
    background: url(../images/two-step.png) center/ cover;
    max-width: 100%;
    height: 684px;
  }
  button{
    @include btn(253px,53px,237px,37px);
    margin-top: 96px;
  }
}

.btn-index{
  @include btn(253px,53px,237px,37px);
}
.popular-teams{
  width: 232px;
  position: relative;
  left: -40px;
  &-bg{
    background: url(../images/img-rectangle-title.png) no-repeat left center;
    height: 126px;
  }
  &-title{
    position: absolute;
    top: 21px;
    left: 40px;
    text-shadow: 0px 0px 40px rgba(0, 209, 255, 0.45);
  }
}
.more-btn{
  background: none;
  padding: 12px 56px;
  border: none;
  @include flex(row,start,center);
  p{
    color: $primary;
  }
}

.itemImg{
  @include itemCard;
  &-playerImg{
    background: url(../images/img-team-player-03-1.png) no-repeat center center /cover;
  }
  &-rankingImg{
    background: url(../images/img-ranking-07.png) no-repeat center center /cover;
  }
}
.itemCard{
  width: 416px;
  height: 703px;
  border-radius: 2px;
  padding: 24px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  button{
    @include btn(352px,53px,336px,37px);
  }
  &-detail{
    width: 336px;
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
}