.memberEvaluateCard{
    width: 306px;
    height: 503px;
}

.friendListCard{
    width: 416px;
    height: 575px;
}

.blackListCard{
    width: 306px;
    height: 575px; 
}

.historicalTeamRecordsCard {
    width: 416px;
    height: 634px;
    padding: 16px 24px 24px 24px;
}

.parallelogram-1 {
    border: 2px solid $white;
    transform: skewX(-11.4deg);
    overflow: hidden;
}

.swiper-button-lock {
    display: inline-block;
}
.swiper-pagination-lock {
    display: inline-block;
}

.swiper-button-prev:after{
    display: none;
}
.swiper-button-next:after{
    display: none;
}

.swiper-button-next{
    background-image: url('../images/button-next.png');
    background-size: contain;
    width: 56px;
    height: 76px;
    top: 50%;
    transform: translate(0,-50%);
    color: $secondary;
    &:hover{
        color: $primary;
    }
  }

.swiper-button-prev{
    background-image: url('../images/button-prev.png');
    background-size: contain;
    width: 56px;
    height: 76px;
    top: 50%;
    transform: translate(0,-50%);
    color: $secondary;
    &:hover{
        color: $primary;
    }
}

.swiper-pagination-bullet{
    background-color: $secondary;
    width: 8px;
    height: 8px;
    border-radius: 800px;
}

.swiper-pagination-bullet-active{
    background-color: $primary;
    width: 24px;
    height: 8px;
    border-radius: 800px;
}

.bageGroup{
    background-color: rgba($white,0.2) !important;
}

.btnShadow{
    &:hover{
        box-shadow: 0px 0px 40px 0px rgba(0, 209, 255, 0.45);
    }
    &:focus{
        border: 2px solid $primary !important;
        box-shadow: 0px 0px 40px 0px rgba(0, 209, 255, 0.45);
    }
}