.titleParallelogram {
  background-image: url(../images/img-rectangle-title.png);
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 64px;
  @include pad {
    width: 126px;
    height: 100px;
  }
}

.teamListCard {
  max-height: 598px;
  max-width: 328px;
  padding: 16px 24px 24px 24px;
  border-radius: 2px;
  background-color: $dark;
  @include pad {
    max-height: 703px;
    max-width: 416px;
    padding: 24px 40px 40px 40px;
  }
}

.teamCardBtn {
  @include btn(296px, 53px, 280px, 37px, 18px);
  @include pad {
    @include btn(352px, 53px, 336px, 37px, 18px);
  }
}

.parallelogramHero {
  width: 229px;
  height: 40px;
  border: 2px solid $secondary;
  transform: skew(-16deg);
  overflow: hidden;
  @include pad {
    width: 266px;
    height: 60px;
  }
}

.parallelogramRank {
  width: 55px;
  height: 40px;
  border: 2px solid $secondary;
  transform: skew(-16deg);
  overflow: hidden;
  @include pad {
    width: 82px;
    height: 60px;
  }
}

.parallelogramContent {
  transform: skew(16deg);
}

.teamCardHeroBg {
  background-size: cover;
  background-position: center;
  width: 229px;
  height: 40px;
  @include pad {
    width: 266px;
    height: 60px;
  }
}

.teamCardRankBg {
  background-size: cover;
  background-position: center;
  width: 55px;
  height: 40px;
  @include pad {
    width: 82px;
    height: 60px;
  }
}
