.titleParallelogram {
    background-image: url(../images/img-rectangle-title.png);
    background-position: center;
    background-size: cover;
}

.teamCard{
    max-height: 703px;
    max-width: 416px;
    padding: 24px 40px 40px 40px;
    border-radius: 2px;
}

.parallelogram {
    border: 2px solid $secondary;
    transform: skew(-16deg);
    overflow: hidden;
}

.parallelogramContent {
    transform: skew(16deg);
}