.titleParallelogram {
    background-image: url(../images/img-rectangle-title.png);
    background-position: center;
    background-size: cover;
}

.teamCard {
    max-height: 703px;
    max-width: 416px;
    padding: 24px 40px 40px 40px;
    border-radius: 2px;
}

.teamCardBtn {
    @include btn(352px,53px,336px,37px);
}

.parallelogram {
    border: 2px solid $secondary;
    transform: skew(-16deg);
    overflow: hidden;
}

.parallelogramContent {
    transform: skew(16deg);
}

.teamCardHeroBg {
    background-size: cover;
    background-position: center;
    width: 266px;
    height: 60px;
}

.teamCardRankBg {
    background-size: cover;
    background-position: center;
    width: 85px;
    height: 60px;
}