<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>編輯會員資訊</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="layout d-flex">
      <div class="layout-left d-none d-lg-block z-2">
        <%- include('./layout/navMenuHistory'); -%>
      </div>
      <div class="layout-content">
        <!-- 編輯資料 -->
        <div class="container blueShadow bg-dark border border-2 mt-38 ms-75">
          <div class="px-21 py-14">
            <h5 class="mb-lg-8">編輯資料</h5>
            <form id="myInfo" class="row justify-content-between">
              <div class="col-3">
                <label for="editMemberAccount" class="form-label">帳號</label>
                <input
                  type="email"
                  class="form-control mb-lg-14 box-shadow bg-secondary2 bg-opacity-30 border-0 text-dark text-opacity-80"
                  id="editMemberAccount"
                  value=""
                  aria-describedby="memberAccount"
                  readonly
                />
                <label for="editMemberName" class="form-label">使用者名稱</label>
                <input
                  type="text"
                  class="form-control mb-lg-25"
                  id="editMemberName"
                  value=""
                  aria-describedby="memberName"
                />
                <a
                  href="#changePasswordModal"
                  class="changePasswordModal d-block mx-auto btn btn-white white-bg-btn active py-3 px-12"
                  style="width: 162px; height: 50px;"
                  role="button"
                  data-bs-toggle="modal"
                >修改密碼
                </a>
              </div>
              <div class="col-4">
                <div class="d-flex flex-column">
                  <label for="editMemberAvatar" class="form-label">大頭貼</label>
                  <img class="avatarMd mb-4" src="" alt="member-avatar" />
                </div>
                <div class="jsAvatarWrap">
                  <div class="d-flex justify-content-around mb-2">
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-01.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-01"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-02.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-02"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-03.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-03"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-04.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-04"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-05.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-05"
                    />
                  </div>
                  <div class="d-flex justify-content-around mb-2">
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-06.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-06"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-07.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-07"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-08.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-08"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-09.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-09"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-10.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-10"
                    />
                  </div>
                  <div class="d-flex justify-content-around">
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-11.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-11"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-12.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-12"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-13.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-13"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-14.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-14"
                    />
                    <img
                      class="avatarSmall pointer"
                      src="./images/avatar/img-avatar-15.png"
                      alt="avatarSmall"
                      data-avatar="img-avatar-15"
                    />
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex flex-column">
                <div class="mb-lg-10">
                  <p class="mb-2">牌位</p>
                  <div class="jsRankWrap">
                    <div class="d-flex gap-2 mb-3">
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Iron"
                        >鐵
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Bronze"
                        >銅
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Silver"
                        >銀
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Gold"
                        >金
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Platinum"
                        >白金
                      </span>
                    </div>
                    <div class="d-flex gap-2">
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Emerald"
                        >翡翠
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Diamond"
                        >鑽石
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Master"
                        >大師
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Grandmaster"
                        >宗師
                      </span>
                      <span
                        class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                        data-rank="Challenger"
                        >菁英
                      </span>
                    </div>
                  </div>
                </div>
                <div class="mb-lg-10">
                  <p class="mb-2">擅長位置</p>
                  <div class="jsPositionWrap d-flex gap-2">
                    <span
                      class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                      data-position="TOP"
                      >TOP</span
                    >
                    <span
                      class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                      data-position="MID"
                      >MID</span
                    >
                    <span
                      class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                      data-position="AD"
                      >AD</span
                    >
                    <span
                      class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                      data-position="SUP"
                      >SUP</span
                    >
                    <span
                      class="badge bg-white text-dark fs-6 pointer bg-opacity-20"
                      data-position="JG"
                      >JG</span
                    >
                  </div>
                </div>
                <div class="mb-lg-25">
                  <p class="mb-2">擅長英雄</p>
                  <div class="d-flex align-items-center">
                    <div class="parallelogramHero w-58 me-4">
                      <div
                        id="editMemberHero"
                        class="parallelogramContent teamCardHeroBg"
                        style="
                          background-image: url(./images/champion/ashe.jpg);
                        "
                      ></div>
                    </div>
                    <select
                      class="form-select w-35 h-50 text-center fs-6 fw-medium selectPicker"
                      aria-label="select hero"
                    >
                      <option selected disabled hidden>選擇英雄</option>
                      <option value="gnar">吶兒</option>
                      <option value="galio">加里歐</option>
                      <option value="aatrox">厄薩斯</option>
                      <option value="amumu">阿姆姆</option>
                      <option value="zoe">柔依</option>
                      <option value="yuumi">悠咪</option>
                      <option value="teemo">提摩</option>
                      <option value="vex">薇可絲</option>
                      <option value="lulu">露璐</option>
                      <option value="ashe">艾希</option>
                    </select>
                  </div>
                </div>
                <div class="mx-auto">
                  <a
                    href="memberCenter.html"
                    class="btn btn-size btn-outline-white white-bg-btn me-12 py-3 px-12"
                    role="button"
                  >
                    取消</a
                  >

                  <a
                    href="#"
                    class="jsChangeInfoBtn btn btn-white white-bg-btn active py-3 px-12"
                    role="button"
                    >保存</a
                  >
                  <!-- <button type="button" class="btn btn-outline-white white-bg-btn me-12">Cancel</button>
                  <button type="button" class="btn btn-white white-bg-btn">Save Changes</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="layout-right d-none d-lg-block"></div>
    </div>

    <div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-labelledby="changePasswordModal"
  aria-hidden="true"
  data-backdrop="false"
>
  <div class="modal-dialog modal-dialog-centered modal-lg py-18">
    <div class="modal-content border-radius bg-dark px-25 py-12 blueShadow">
      <div>
        <h3 class="modal-title fs-4 fs-md-3 fw-md-bold fw-bold text-center">
          修改密碼
        </h3>
      </div>
      <div class="modal-body d-flex flex-column px-4 pt-8">
        <form class="mb-12">
                <label for="newMemberPassword" class="form-label">新密碼</label>
                <input
                  type="password"
                  class="form-control mb-5"
                  id="newMemberPassword"
                  value=""
                  placeholder="請輸入新密碼"
                  aria-describedby="newMemberPassword"
                />
                <label for="checkMemberPassword" class="form-label">確認新密碼</label>
                <input
                  type="password"
                  class="form-control"
                  id="checkMemberPassword"
                  value=""
                  placeholder="請再輸入新密碼"
                  aria-describedby="checkMemberPassword"
                />
              </div>
        </form>
        <div class="submitGroup text-center align-items-center">
          <a
            href="#"
            class="btn btn-size btn-outline-white white-bg-btn me-12 py-3 px-12"
            data-bs-dismiss="modal"
            role="button">
                    取消</a>

          <a
            href="#"
            class="jsChangePasswordBtn btn btn-size btn-outline-white white-bg-btn bg-secondary2 bg-opacity-60 me-12 py-3 px-12"
            role="button">
                修改密碼</a>       
        </div>
      </div>
    </div>
  </div>
</div>

    <%- include('./layout/footer'); -%>

    <script
      src="https://kit.fontawesome.com/8eab62e458.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/editMemberProfile.js"></script>
  </body>
</html>
