<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員中心</title>
    <script
      src="https://kit.fontawesome.com/8eab62e458.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./layout/header'); -%> <%- include('./layout/sideBar'); -%>
    <div class="container bg-dark border border-2 mt-38 ms-75">
      <div class="px-21 pt-14 pb-25">
        <div class="d-flex justify-content-between mb-lg-8">
          <h5>我的資料</h5>
          <div>
            <a href="#">編輯<i class="fa-solid fa-pencil fs-7 ms-2"></i></a>
          </div>
        </div>
        <form action="" class="row justify-content-between">
          <div class="col-3">
            <label for="memberAccount" class="form-label">帳號</label>
            <input
              type="email"
              class="form-control mb-lg-7"
              id="memberAccount"
              value="magicfox@gmail.com"
              aria-describedby="memberAccount"
              readonly
            />
            <label for="memberName" class="form-label">使用者名稱</label>
            <input
              type="text"
              class="form-control mb-lg-7"
              id="memberName"
              value="魔法狐狸"
              aria-describedby="memberName"
              readonly
            />
            <label for="memberPassword" class="form-label">密碼</label>
            <input
              type="password"
              class="form-control mb-lg-7"
              id="memberPassword"
              value="**********"
              aria-describedby="memberPassword"
              readonly
            />
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-between">
              <label for="memberAvatar" class="form-label">大頭貼</label>
              <span class="text-secondary">
                3526
                <i class="fa-regular fa-thumbs-up ms-1"></i>
              </span>
            </div>
            <img src="../assets/images/Member-avatar.png" alt="member-avatar" />
          </div>
          <div class="col-3">
            <div class="mb-15">
              <p>牌位</p>
              <span class="badge bg-white text-dark">銅</span>
            </div>
            <div class="mb-15">
              <p>擅長位置</p>
              <span class="badge bg-white text-dark">TOP</span>
            </div>
            <div>
              <p>擅長英雄</p>
              <div class="parallelogramHero">
                <div
                  class="parallelogramContent teamCardHeroBg"
                  style="
                    background-image: url(../assets/images/img-team-player-05.png);
                  "
                ></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
