<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>隊伍列表</title>
  <script src="https://kit.fontawesome.com/8eab62e458.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container pt-lg-38 ">




      <div class="searchGroup d-flex justify-content-between">
        <div class="searchDropDown d-flex gap-lg-8">
          <div class="btn-group border border-white">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              讚數
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group border border-white">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              遊戲時間
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group border border-white">
            <button type="button" class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              牌位
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
        <form class="d-flex">
          <div class="input-group">
            <input type="search" class="form-control border-end-0" placeholder="What are you looking for?"
              aria-label="Search" aria-describedby="search-form" />
            <button class="btn border border-white border-start-0" id="search-form" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
      <!-- 已加入隊伍 -->
      <div class="titleImg position-relative mt-lg-18 mb-lg-5">
        <h2 class="position-absolute top-20 start-33 fw-black" style="width: 240px; height: 58px">
          已加入隊伍
        </h2>
      </div>
      <!-- Slider main container -->
      <div class="swiper" id="swiper1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><%- include('./layout/card'); -%> </div>
          <div class="swiper-slide"><%- include('./layout/card'); -%> </div>
          <div class="swiper-slide"><%- include('./layout/card'); -%> </div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>

      <!-- 已建立隊伍 -->
      <div class="titleImg position-relative mt-lg-18 mb-lg-5">
        <h2 class="position-absolute top-20 start-33 fw-black" style="width: 240px; height: 58px">
          已建立隊伍
        </h2>
      </div>
      <!-- Slider main container -->
      <div class="swiper" id="swiper2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><%- include('./layout/card'); -%> </div>
          <div class="swiper-slide"><%- include('./layout/card'); -%> </div>
          <div class="swiper-slide"><%- include('./layout/card'); -%> </div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>

    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        const swiper1 = new Swiper('#swiper1', {
          // Optional parameters

          loop: true,

          // If we need pagination
          pagination: {
            el: '.swiper-pagination',
          },

          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },

        });
        const swiper2 = new Swiper('#swiper2', {
          // Optional parameters

          loop: true,

          // If we need pagination
          pagination: {
            el: '.swiper-pagination',
          },

          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },

        });


      </script>
</body>

</html>