<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>隊伍詳細資訊</title>
    <script
      src="https://kit.fontawesome.com/8eab62e458.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div
      class="d-flex justify-content-between align-items-center bg-dark px-lg-26 pt-lg-18"
    >
      <div>神秘遠征隊</div>
      <div
        class="titleParallelogram position-relative my-lg-7"
        style="width: 100px; height: 80px"
      >
        <h3
          class="position-absolute top-30 start-50 fw-black"
          style="width: 192px; height: 58px"
        >
          神秘遠征隊
        </h3>
      </div>
      <h4>遊戲時間：2023/10/16 16:00</h4>
    </div>
    <ul class="d-flex justify-content-between px-lg-26">
      <li>
        <div
          class="flag greenShadow d-flex flex-column align-items-center bg-dark bg-opacity-60"
        >
          <i class="fa-solid fa-crown text-white fs-3 mt-lg-11"></i>
          <img
            class="playerIcon mt-lg-6"
            src="../assets/images/Member.png"
            alt="member"
          />
          <h4 class="mt-lg-6">無言獨上西樓</h4>
          <div class="parallelogram mt-lg-6">
            <div
              class="parallelogramContent"
              style="
                background-image: url(../assets/images/image19.png);
                background-size: cover;
                background-position: center;
                width: 82px;
                height: 60px;
              "
            ></div>
          </div>
          <span class="badge bg-white text-dark mt-lg-6">TOP</span>
          <span class="text-secondary mt-lg-6"
            >3526<i class="fa-regular fa-thumbs-up ms-1"></i
          ></span>
        </div>
        <div class="down-triangle">
          <div class="left-triangle"></div>
          <div class="right-triangle"></div>
        </div>
      </li>
      <li>
        <div class="flag blueShadow">
          <div
            class="flag greenShadow d-flex flex-column align-items-center bg-dark bg-opacity-60"
          >
            <img
              class="playerIcon mt-lg-24"
              src="../assets/images/Member.png"
              alt="member"
            />
            <h4 class="mt-lg-6">無言獨上西樓</h4>
            <div class="parallelogram mt-lg-6">
              <div
                class="parallelogramContent"
                style="
                  background-image: url(../assets/images/image19.png);
                  background-size: cover;
                  background-position: center;
                  width: 82px;
                  height: 60px;
                "
              ></div>
            </div>
            <span class="badge bg-white text-dark mt-lg-6">TOP</span>
            <span class="text-secondary mt-lg-6"
              >3526<i class="fa-regular fa-thumbs-up ms-1"></i
            ></span>
          </div>
          <div class="down-triangle">
            <div class="left-triangle"></div>
            <div class="right-triangle"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="flag blueShadow">
          <div
            class="flag greenShadow d-flex flex-column align-items-center bg-dark bg-opacity-60"
          >
            <img
              class="playerIcon mt-lg-24"
              src="../assets/images/Member.png"
              alt="member"
            />
            <h4 class="mt-lg-6">無言獨上西樓</h4>
            <div class="parallelogram mt-lg-6">
              <div
                class="parallelogramContent"
                style="
                  background-image: url(../assets/images/image19.png);
                  background-size: cover;
                  background-position: center;
                  width: 82px;
                  height: 60px;
                "
              ></div>
            </div>
            <span class="badge bg-white text-dark mt-lg-6">TOP</span>
            <span class="text-secondary mt-lg-6"
              >3526<i class="fa-regular fa-thumbs-up ms-1"></i
            ></span>
          </div>
          <div class="down-triangle">
            <div class="left-triangle"></div>
            <div class="right-triangle"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="flag blueShadow">
          <div
            class="flag greenShadow d-flex flex-column align-items-center bg-dark bg-opacity-60"
          >
            <img
              class="playerIcon mt-lg-24"
              src="../assets/images/Member.png"
              alt="member"
            />
            <h4 class="mt-lg-6">無言獨上西樓</h4>
            <div class="parallelogram mt-lg-6">
              <div
                class="parallelogramContent"
                style="
                  background-image: url(../assets/images/image19.png);
                  background-size: cover;
                  background-position: center;
                  width: 82px;
                  height: 60px;
                "
              ></div>
            </div>
            <span class="badge bg-white text-dark mt-lg-6">TOP</span>
            <span class="text-secondary mt-lg-6"
              >3526<i class="fa-regular fa-thumbs-up ms-1"></i
            ></span>
          </div>
          <div class="down-triangle">
            <div class="left-triangle"></div>
            <div class="right-triangle"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="flag blueShadow">
          <div
            class="flag greenShadow d-flex flex-column align-items-center bg-dark bg-opacity-60"
          >
            <img
              class="playerIcon mt-lg-24"
              src="../assets/images/Member.png"
              alt="member"
            />
            <h4 class="mt-lg-6">無言獨上西樓</h4>
            <div class="parallelogram mt-lg-6">
              <div
                class="parallelogramContent"
                style="
                  background-image: url(../assets/images/image19.png);
                  background-size: cover;
                  background-position: center;
                  width: 82px;
                  height: 60px;
                "
              ></div>
            </div>
            <span class="badge bg-white text-dark mt-lg-6">TOP</span>
            <span class="text-secondary mt-lg-6"
              >3526<i class="fa-regular fa-thumbs-up ms-1"></i
            ></span>
          </div>
          <div class="down-triangle">
            <div class="left-triangle"></div>
            <div class="right-triangle"></div>
          </div>
        </div>
      </li>
    </ul>
    <div class="container mt-lg-21">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-7">
          <div class="message-card border border-2 rounded-2 border-white">
            <div class="message-head border-bottom p-1">
              <h4 class="text-center">公告</h4>
            </div>
            <div class="message-body">
              <ol class="d-flex flex-column p-lg-9 gap-lg-3">
                <li class="fs-lg-4">1.不要有會說髒話的加入</li>
                <li class="fs-lg-4">2.最好有上大師</li>
                <li class="fs-lg-4">3.最近有玩超過10場牌位</li>
                <li class="fs-lg-4">4.演員地雷勿進</li>
                <li class="fs-lg-4">5.能對其他線路有理解尤佳</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end col-lg-3">
          <button
            type="button"
            class="blueShadow btn btn-white position-relative border-0 fw-bold fs-7 mb-lg-3"
            style="height: 81px; width: 237px"
          >
            <div class="outLineBtn2"></div>
            加入隊伍<i class="fa-solid fa-arrow-right ms-5"></i>
          </button>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
